spring:
  datasource:
    url: jdbc:h2:mem:model
    username: sa
    password:
    driverClassName: org.h2.Driver

  jackson:
    date-format: com.fasterxml.jackson.databind.util.ISO8601DateFormat
    time-zone: UTC

  jpa:
    hibernate:
      ddl-auto: create-drop
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: false

logging:
  level:
#    root: debug
    jdbc:
      sqlonly: info
      resultsettable: info
      sqltiming: fatal
      audit: fatal
      resultset: fatal
      connection: fatal

    org:
      springframework:
        orm:
          jpa: debug
    io:
      github:
        cepr0: debug